@using MvcWeb.Models.Entity
@model List<Admin>

@{
    ViewBag.Title = "DetailRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">@ViewBag.valueName</span> - Rolündeki Yetkili Personel</h4>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Dashboard"><i class="icon-home2 position-left"></i> Dashboard</a></li>
            <li><a href="/Role/AddRole">Role Ekle</a></li>
            <li><a href="/Role/Index">Role Listesi</a></li>
            <li class="active">(@ViewBag.valueName) - Yetkili Personel Listesi</li>
        </ul>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="thumbnail no-padding">
                    <div class="thumb">
                        <img src="/Uploads/resize/@item.Picture" alt="@item.UserName">
                        <div class="caption-overflow">
                            <span>
                                <a href="/Uploads/resize/@item.Picture" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                                <a href="/Admin/Profile/@item.AdminId" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                            </span>
                        </div>
                    </div>

                    <div class="caption text-center">
                        <h6 class="text-semibold no-margin">@item.Name @item.Surname<small class="display-block">@item.Title</small></h6>
                        <ul class="icons-list mt-15">
                            @foreach (var x in item.UserSocials.Where(x => x.AdminId == item.AdminId))
                            {
                                <li><a href="@x.Url" data-popup="tooltip" target="_blank" title="@x.Name" data-container="body"><i class="@x.IconCss"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- /content area -->