@model MvcWeb.Models.Entity.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.AdminId, new { @class = "form-control" })
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>UserName</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Surname</label>
                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Role</label>
                    @Html.DropDownListFor(x => x.RoleId, (List<SelectListItem>)ViewBag.valuerolelist, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Mail</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Password</label>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Gorsel</label>
                    <input type="file" name="Picture" id="Picture" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-warning">Güncelle</button>
    </div>
}